body, html{
    height: 100%;
}

.container {
  width: 100%;
   margin: auto;
   /*position: relative;*/
   display: flex;
   flex-direction: column;

}
body {
    background-color: black;
}
header{
    height: 9.4em;
    border: 1px white solid;
    background-color: #222c15; /*#2a2f21;*/ /*#0B1F08*/
}
 

.encabezado1 {
   float: left;
   color: white;
  /*border:  1px solid white;*/
   padding: 10px;
   box-sizing: border-box;
    padding: 0; 
    margin:0;
     position: relative;
     top: 0;
     left: 0;
 }
 .container-encabezado-links {
     display: flex;
     flex-direction: column-reverse;
     justify-content: flex-end;
     height: 150px;

 }
 
 .encabezado3 nav {
     display: flex;
     flex: 0.1;
     justify-content: space-between;
     margin: 3px 150px 0px 150px;
 }

 
 .encabezado2{
    display: flex;
    height: 126px;
    padding: 7px 180px 0px 180px;
 }
 h1 {
     display: flex;
     width: 100%;
     height: 82%;
     justify-content: space-around;
     font-size: 50px;
     margin: 0;
    
 }

 .negro  {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
 }

 .and {
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .blanco {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
 }

 
 a {
     color: #ffffff;
     text-decoration: none;
     font-size: 18px;
 }
a:hover {
    color: #3e499b;
}

img {
    width: 100%;
    height: auto;
}

.container-slide {
    display:flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    background-image: url("../img/imagenescocia.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    padding-top: 20px;    
}

.boton {
    display:flex;
    justify-content: space-between;
    position: relative;
    bottom: 269px;
    width: auto;
    height: auto;
    
}

.container-presentacion {
    display: flex;    
    justify-content: space-around;
    height: 600px;
    margin-bottom: 30px;
   /* border: 1px white solid;*/
    
}

.fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
   /*border:  1px white solid;*/
    flex: 2;
    color: white;
    
    padding: 20px;
}

.fotos p {
    text-align: justify;
    line-height: 1.5;
    padding: 20px;
    font-size: 20px;
}

.conatiner-historia {
    display: flex;
    height:600px;
    margin-bottom: 30px;
   
}

.contenido-en-hsitoria{
    display: flex;
    color: white;
    flex: 2;
    padding: 20px;
}
.estilo-historia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex: 1;
    padding: 30px;
    font-size: 20px;
    text-indent: 50px;
    line-height: 1.5;
}

.ubicacion {
    display: flex;    
    flex: 2;
    flex-direction: row-reverse;
    height: 600px;
    margin: 0;
}

.container-ubicacion {
    display: flex;
    color: white;
    flex: 1;
}

.estilo-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex: 1;
    padding: 30px;
    font-size: 20px;
    text-indent: 50px;
    line-height: 1.5;
}

.entrada-footer {
    display: flex;
    height: ;
}