body, html{
    height: 100%;
}
.container {
  width: 100%;
   margin: auto;
   /*position: relative;*/
   display: flex;
   flex-direction: column;

}
body {
    background-color: black;
}
header{
    height: 9.4em;
    border: 1px white solid;
    background-color: #222c15; /*#2a2f21;*/ /*#0B1F08*/
}
 

.encabezado1, .encabezado2, .encabezado3 {
   float: left;
   color: white;
  /* border:  1px solid white;*/
   padding: 10px;
   box-sizing: border-box;
}
 .encabezado1 {
    padding: 0; 
    margin:0;
     position: relative;
     top: 0;
     left: 0;
 }
.encabezado2 {
    width: 60%; 
    height: 176px;
    padding:0;
 }

 .negro, .and, .blanco {
    float: left;
    
    padding: 0;

    /*border: 1px solid white;*/
    box-sizing: border-box;
    text-align: center;
    font-size: 60px;
    padding: 0;
 }
 .negro {
    width: 20%;
    height: 50px;
    margin-left: 20%;
 }
 .and {
    width: 20%;
    height: 50px;
 }
 a {
     color: #ffffff;
     text-decoration: none;
     font-size: 18px;
 }
a:hover {
    color: #3e499b;
}
 

.encabezado3 {
    width: 25%; 
}

/*.slide-wrapper{
    background-color: #ffffff;
    height: 500px;
}*/
.container-slide {
    display:flex;
    justify-content: center;
    background-image: url("../img/fondoslide612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
       
}
.w3-content_w3-display-container .mySlides {
   
    /*display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    bottom:25px;*/

}


.mySlides { 
    
    /*padding:0;
    margin:0;
    width: auto;
    height: 100%;
    position: relative;
    left: 300px;
    bottom:0px;*/
}
.boton {
    display:flex;
    justify-content: space-between;
    top: 50px;
}
.w3-button_w3-black_w3-display-left {
    margin: 0;
    padding: 4px;
    position: relative;
    bottom: 269px;
    left: 0px;
}

.w3-button_w3-black_w3-display-right {
    
    
    margin: 0;
    padding: 4px;
     position: relative;
     bottom: 269px;
     left: 0px;
 }