body, html{
  display: flex;
    height: 100%;
    font-family: 'Libre Baskerville', serif;
r
}

.container {
  width: 100%;
   margin: auto;
   /*position: relative;*/
   display: flex;
   flex-direction: column;

}
body {
    background-color: black;
}
header{
    height: 9.4em;
    border: 1px white solid;
    background-color: #222c15; /*#2a2f21;*/ /*#0B1F08*/
}

.ir-arriba {
   display: inline-block;
   padding: 20px;
   font-size: 20px;
   cursor: pointer;
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 40px;
   height: 25px;;
}
 
 

.encabezado1 {
   float: left;
  /*border:  1px solid white;*/
   padding: 10px;
   box-sizing: border-box;
    padding: 0; 
    margin:0;
     position: relative;
     top: 0;
     left: 0;
 }
 .container-encabezado-links {
     display: flex;
     flex-direction: column-reverse;
     justify-content: flex-end;
     height: 150px;

 }
 
 .encabezado3 nav {
     display: flex;
     flex-wrap: wrap;
     flex: 0.1;
     justify-content: space-between;
     margin: 3px 150px 0px 150px;
 }

 
 .encabezado2{
    display: flex;
    color: white;
    height: 126px;
    padding: 7px 180px 0px 180px;
 }
 h1 {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     
     justify-content: space-around;
     font-size: 50px;
     margin: 0;
    
 }

 .negro  {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
 }

 .and {
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .blanco {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
 }

 
 a {
     color: #ffffff;
     text-decoration: none;
     font-size: 18px;
 }
a:hover {
    color: #3e499b;
}

img {
    width: 100%;
    height: auto;
}

.container-slide {
    display:flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    background-image: url("../img/imagenescocia.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    padding-top: 20px;    
}

.boton {
    display:flex;
    justify-content: space-between;
    position: relative;
    bottom: 269px;
    width: auto;
    height: auto;
    
}

.container-presentacion {
    display: flex;    
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
   /* border: 1px white solid;*/

    
}

.fotos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /*border:  1px white solid;*/
    flex: 2; 
    color: white;
    min-width: 200px;
    padding: 20px;

}

.fotos p {
    text-align: justify;
    line-height: 1.5;
    padding: 20px;
    font-size: 1.8vw;
}

.conatiner-historia {
    display: flex;
    width: 100%;
    min-width: 200px;
    flex-wrap: wrap;
    margin-bottom: 30px;

   
}

.contenido-en-hsitoria{
    display: flex;
    color: white;
    flex: 2;
    padding: 20px;
    width: 100%;
    height: auto;
}
.estilo-historia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex: 1;
    padding: 30px;
    font-size: 1.9vw;
    text-indent: 50px;
    line-height: 1.5;
}

.ubicacion {
    display: flex;   
    flex-wrap: wrap;
    width: 100%; 
    flex: 2;
    flex-direction: row-reverse;
    margin: 0;
}

.container-ubicacion {
    display: flex;
    width: 100%;
    color: white;
    flex: 1;
}

.estilo-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex: 1;
    padding: 30px;
    font-size: 20px;
    text-indent: 50px;
    line-height: 1.5;
}
.container-inicio3{
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.container-mapa {
    display: flex;
    width: 100%;
    justify-content: center;
}


footer {
    display: flex;
    width: 100%;
    /*border: 1px white solid;*/
    flex-wrap:row wrap;
    min-width: 300px;
}

.entrada1 {
    display:flex;
    width: 100%;
    /*border: 1px white solid;*/
}

.container-final {
    display: flex;
    width: 100%;
}
h2 {
    font-size: 14px;
    text-align: center;
}
footer .entrada1 p {
    font-size: 13px;
    text-align: justify;
    padding: 20px;
}


.button {
    border-radius: 5px ;
    color: white;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 70px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonA {
    background-color: rgb(0, 81, 186);
    color: white;
}

.buttonA:hover {
    background-color: white; 
    color: rgb(8, 107, 199); 
    border: 2px solid #008CBA;   
}

.container-social {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.logo {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.logoA:hover 